body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  .page-footer {
    position: relative;
    width:100% !important;
    bottom:0px !important;
    left: 0;
    
  }

  .autoHeight { min-height: 450px;
  
  }
  .movDet {

    max-width: 600px; margin: 0 auto;
  }
.card-img {
  max-width: 400px; 
}

.logo-wrapper {
  height: 100px; max-width: 290px;
}
  .heading {
    font-size: 2.2rem;
    color:#ffffff; float: right;
   
  }

  .nav-logo {
     width: 300px;
    position: absolute; float: left; 
    
  }

  .nav-logo img {
    width: 70px;

   
 }

  .Movtitle {
    font-size: 3.2rem;
   
  }


  